body {
    background: linear-gradient(09deg, #704ac3, #2c1242);
    background-attachment: fixed;
}

.container-filmes {
    display: flex;
    /* Os itens não ficam na mesma linha */
    flex-wrap: wrap;
    gap: 15px;
    /*Espaço entre os itens */

}

h2 {
    font-size: 16px;
}

p {
    font-size: 12px;
}

h2,
p {
    color: white;
}

.card {
    /* border: solid 1px #4d4d4d; */
    padding: 12px;
    /* Espaço entre a borda e o conteúdo interno*/
    border-radius: 16px;
    /*Arredonda as bordas*/
    background-color: #1b1057;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 4px 4px 16px #000000;
    margin-left: 15px;
    padding: 25px;
}

.card:hover {
    box-shadow: -12px 12px 15px #5f7cff;
    transition: ease-in-out 600ms;
    scale: 1.01;
    background-color: #2a1c77;

}

.card img {
    width: 250px;
    height: 450px;
    object-fit: cover;
    /*
    Sempre que modificar a largura e altura de uma imagem,
    é importante usar o object-fit para manter a proporção
    */
}